@page "/Product"
@using System.Globalization
@inject IProductRepository _ProductRepository
@inject IJSRuntime _JS
<h3>Product</h3>

<BsModal OnModalConfirmation="ConfirmDelete_Click"
         ButtonText="Delete"
         ButtonBootstrapStyle="btn btn-danger"
         Title="Are you surely want to delete this product"></BsModal>
@if(isprocessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/Images/loading.gif" alt="Loading"/>
    </div>
}
else
{
   
    <div class="card shadow border-0 mt-8">
        <div class="card-header bg-black bg-gradient ml-0 py-2">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Product List</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-2">
            <div class="row pb-3">
                <div class="col-12 text-end">
                    <a href="product/insert" class="btn btn-lg btn-secondary " style="width:250px"><i class="bi bi-plus-square"></i>  Add New Product</a>
                </div>
            </div>
        </div>

   <br />
   <br />
    <p>Product's List</p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>SpecialTag</td>
                <td>Category</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Products)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Price.ToString("C",CultureInfo.GetCultureInfo("en-us"))
                    </td>
                    <td>
                        <span class="badge text-bg-info">@item.SpecialTag</span>
                    </td>
                    <td>
                        @item.Category.Name
                    </td>
                    <td>
                        <a href=@($"product/update/{item.Id}") class="btn btn-primary"><i class="bi bi-pencil-square"></i> Edit</a>
                        <a class="btn btn-danger" @onclick="()=>HandleDelete(item.Id)"> <i class="bi bi-trash3"></i> Delete</a>
                    </td> 
                </tr>
            }
        </tbody>
    </table>
    </div>
    
}

@code {
    private bool isprocessing { get; set; } = true;

    private int DeleteProductId { get; set; } = 0;



    private IEnumerable<Product> Products { get; set; } = new List<Product>();


    // protected override async Task OnInitializedAsync()
    // {
    //     isprocessing = true;
    //     LoadParameters();
    //     await Task.Delay(2000);
    //     isprocessing = false;
    // }

    protected override async Task OnAfterRenderAsync(bool firstrender)
    {
        if (firstrender)
        {
            await LoadParameters();
            isprocessing = false;
            StateHasChanged();
        }
    }
    private async Task LoadParameters()
    {
        Products = await _ProductRepository.GetAllAsync();   
    }

    private void HandleDelete(int id)
    {
        DeleteProductId = id;
        _JS.InvokeVoidAsync("ShowConfirmationModal");
    }

    private async Task ConfirmDelete_Click(bool isConfirmed)
    {
        isprocessing = true;
        if(isConfirmed && DeleteProductId !=0 )
        {
            var result = await _ProductRepository.DeleteAsync(DeleteProductId);
            if (result)
                await _JS.ToasterSuccess("Product Deleted Successfullay");
            else
                await _JS.ToasterError("Product not Deleted due to some error");

            await LoadParameters();
        }
        DeleteProductId = 0;
        _JS?.InvokeVoidAsync("HideConfirmationModal");
        isprocessing = false;
    }

}
